/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-dic-2014, 15.32.19
    Author     : Sebastiano Mariani <mariani.sebastiano@gmail.com>
*/

@imgPath : '/img/admin';
@borderColor : greenyellow;

body{
    height: 100vh;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 51px;
}
.navbar-default{
    
    @fontsColor : green;

    .hoverEffect{
        background-color: green;
        color: black;
    }

    background: url('@{imgPath}/black_linen_v2.png');
    border-color: @borderColor;

    a {
        color: @fontsColor;
    }


    .nav>li>a:hover, .nav>li>a:focus {
        .hoverEffect;
    }

    .sidebar{
        ul {
            li {
                border-bottom: 1px solid @borderColor;
            } 
            li a.active {
                .hoverEffect;
            }
        }

        .user{
            text-align : center;
            margin-top : 20px;
            img{
                border: 1px solid @borderColor;
                padding: 8px;
                width: 90px;
                border-radius: 50%;
            }

            h4{
                color: gray;
            }
        }

    } 

    #side-menu{
        min-height: 100vh;
    }

}

#page-wrapper{
    padding-top: 50px;
    border-left: 1px solid @borderColor;
    background: url('@{imgPath}/triangles.png');  
    color : gray;

    .page-header{
        border-bottom: 1px solid @borderColor;
    }
    
    .table-bordered{
        border-color: green;
        td{
            border-color: green;
        }
        thead{
            td{
                color: greenyellow;
            }
        }
    }
    
    .btn-ctf-default{
        color: green;
        background-color: black;
        border-color: green;
    }
    
    .btn-ctf-default:hover{
        color:black;
        background-color: green;
        border-color: black;
    }
    
    .btn-ctf-danger{
        color: black;       
    }



    /* ANIMATIONS
    ============================================================================= */

    .page.ng-leave 	{ z-index:9999; }
    .page.ng-enter 	{ z-index:8888; }

    /* page specific animations ------------------------ */

    /* home -------------------------- */



    @-moz-keyframes fade-up-enter { 
        0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -ms-transform: translateY(20px);
            -o-transform: translateY(20px);
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
        }
    }
    @-webkit-keyframes fade-up-enter { 
        0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -ms-transform: translateY(20px);
            -o-transform: translateY(20px);
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY();
            -moz-transform: translateY();
            -ms-transform: translateY();
            -o-transform: translateY();
            transform: translateY();
        }
    }
    @-o-keyframes fade-up-enter { 
        0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -ms-transform: translateY(20px);
            -o-transform: translateY(20px);
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
        }
    }
    @keyframes fade-up-enter { 
        0% {
            opacity: 0;
            -webkit-transform: translateY(20px);
            -moz-transform: translateY(20px);
            -ms-transform: translateY(20px);
            -o-transform: translateY(20px);
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
        }
    }


    .animate-fade-up.ng-enter {
        -webkit-animation: .35s fade-up-enter;
        -moz-animation: .35s fade-up-enter;
        -ms-animation: .35s fade-up-enter;
        -o-animation: .35s fade-up-enter;
        animation: .35s fade-up-enter;
    }
}